// Cartoons are subject to copyright © 2018 by Lee Sheppard [lee@leesheppard.com] 

body {
	background-color: #ececec;
	font-family: Arial, Helvetica, sans-serif;
}

.footer {
	color: #ccc;
	text-align: center;
}

#username,
#password,
#input-email {
	width: 300px;
	text-overflow: ellipsis;
}

.form {
	background-color: #fff;
	border: #ccc solid 1px;
	border-radius: 1rem;
	box-shadow: 0px 0px 4px #ccc;
	padding: 1rem 2rem;
	
	& label {
		color: #ccc;
		font-size: 0.6em;
	}
	
	& input {
		margin-bottom: 1rem;
		padding: 0.4rem;
		width: 100%;
		max-width: 100%;
	}
}

.content {
	margin: 3rem auto;
	width: 20rem;
	
	& .cartoon {
	width: 150px;
	}
	
	& button {
		background-color: #7f60e4;
		border: none;
		border-radius: 0.5rem;
		margin: 0.5rem 1rem 0 0;
		padding: 0.8rem;
		color: #f1f1f1;
		width: 100%;
	}
	
	& button:hover {
		background-color: #bf90d8;
	}
	
	& button.cancelbtn {
		background-color: #bf90d8;
	}
	
	& button:hover.cancelbtn {
		background-color: #7f60e4;
	}
}

.psw {
	font-size: 0.8rem;
	padding: 1rem;
	margin: auto;
	text-align: center;
	
	& a {
		text-decoration: none;
	}
}

.image-container {
	margin: auto;
	height: 190px;
	max-height: 190px;
	width: 150px;
	max-width: 150px;
}

.login-welcome,
.login-username,
.login-password,
.login-forgotten {
	background-image: url(https://s3-ap-southeast-1.amazonaws.com/assets.sheppard.io/png/login/login-sprite%401x.png);
	background-repeat: no-repeat;
	height: 190px;
	width: 150px;
}

.login-welcome {
	background-position: 0 0;
}

.login-username {
	background-position: 0 -570px;
}

.login-password {
	background-position: 0 -380px;
}

.login-forgotten {
	background-position: 0 -190px;
}

#forgotform {
	display: none;
}